<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              level-id="cp"
              name="KNIME CellProfiler Integration"
              path="/community/knip">
        </category>
     </extension>
     <extension
           point="org.knime.workbench.repository.nodes">
        <node
              category-path="/"
              expert-flag="false"
              factory-class="org.knime.knip.cp.nodes.headless.CPHeadlessNodeFactory"
              id="org.knime.knip.cp.nodes.headless.CPHeadlessNodeFactory">
        </node>
     </extension>
</plugin>
